In [29]:
import pickle
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
from scipy.signal import detrend
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

# Data Processing

In [30]:
sales_data = pd.read_csv('Data/sales dataset.csv')
sales_data['salesDate'] = pd.to_datetime(sales_data['salesDate'], infer_datetime_format=True)
selected_columns1 =['salesAmount', 'salesDate']
sales_data = sales_data[selected_columns1]
##########################################################################
expenses_data = pd.read_csv('Data/expenses dataset.csv')
expenses_data['expenseDate'] = pd.to_datetime(expenses_data['expenseDate'], infer_datetime_format=True)
selected_columns =['expenseAmount', 'expenseDate']
expenses_data = expenses_data[selected_columns]

In [31]:
# The function groups either the expense or sales data into the daily series
# But the first column must be the amount and the second column must be the dates in datetime format
def groupDay(df):
    df['Year'] = df.iloc[:,1].dt.year
    df['Month'] = df.iloc[:,1].dt.month
    df['Day'] = df.iloc[:,1].dt.day
    df['Amount'] = df.iloc[:,0]
    daily = df.groupby(['Year','Month','Day'])['Amount'].sum().reset_index()
    return daily

def dailyToSingleDate(df,Year, Month, Day):
    days = []
    df['date'] = pd.to_datetime(df[['Year','Month','Day']])
    df = df.drop(['Year','Month','Day'], axis=1)
    
    for date in df['date']:
        day_name = date.day_name()
    
        if day_name == 'Sunday':
            days.append('Monday')
        else:
            days.append(day_name)
    df['day_of_week'] = days
#     df = df.set_index('date')   
    return df

In [32]:
sd = groupDay(sales_data)
daily_sales = dailyToSingleDate(sd, sd['Year'], sd['Month'], sd['Day'])
ed = groupDay(expenses_data)
daily_expenses = dailyToSingleDate(ed, ed['Year'], ed['Month'], ed['Day'])

In [33]:
dailySales = daily_sales[700:]    #705 for the removal of irrelevant data points
dailyExpenses = daily_expenses[890:]  #890 for the removal of irrelevant data points
# monthlySales = monthly_sales
# monthlyExpenses = monthly_expenses

In [34]:
category1 = dailyExpenses
category = category1
category

        Amount       date day_of_week
890    81700.0 2023-04-11     Tuesday
891   125150.0 2023-04-12   Wednesday
892    42825.0 2023-04-13    Thursday
893    44300.0 2023-04-14      Friday
894    13500.0 2023-04-15    Saturday
...        ...        ...         ...
1067   95800.0 2023-11-04    Saturday
1068  202000.0 2023-11-06      Monday
1069   27101.0 2023-11-07     Tuesday
1070   61750.0 2023-11-08   Wednesday
1071   32100.0 2023-11-09    Thursday

[182 rows x 3 columns]

# Remove Outliers

In [35]:
def remove_outliers_zscore(data, threshold=3):
    z_scores = np.abs((data - np.mean(data)) / np.std(data))
    filtered_data = data[(z_scores < threshold)]
    return filtered_data

filteredCategory = remove_outliers_zscore(category['Amount'])
category['Amount'] = filteredCategory
category = category.tail(35)

C:\Users\Berlin\AppData\Local\Temp\ipykernel_5500\2702418733.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  category['Amount'] = filteredCategory

In [36]:
category

        Amount       date day_of_week
1037   46000.0 2023-09-30    Saturday
1038   59500.0 2023-10-02      Monday
1039   32900.0 2023-10-03     Tuesday
1040   81500.0 2023-10-04   Wednesday
1041   91400.0 2023-10-05    Thursday
1042   18000.0 2023-10-06      Friday
1043   25900.0 2023-10-07    Saturday
1044   50800.0 2023-10-09      Monday
1045   22500.0 2023-10-10     Tuesday
1046  182150.0 2023-10-11   Wednesday
1047   59100.0 2023-10-12    Thursday
1048  108100.0 2023-10-13      Friday
1049   88900.0 2023-10-14    Saturday
1050  115500.0 2023-10-16      Monday
1051   90500.0 2023-10-17     Tuesday
1052       NaN 2023-10-18   Wednesday
1053  237900.0 2023-10-19    Thursday
1054   63250.0 2023-10-20      Friday
1055   37000.0 2023-10-21    Saturday
1056  144700.0 2023-10-23      Monday
1057   51000.0 2023-10-24     Tuesday
1058    5000.0 2023-10-25   Wednesday
1059  237950.0 2023-10-26    Thursday
1060  108500.0 2023-10-27      Friday
1061   13700.0 2023-10-28    Saturday
1062  191700.0 2023-10-30      Monday
1063   84800.0 2023-10-31     Tuesday
1064   17000.0 2023-11-01   Wednesday
1065   25800.0 2023-11-02    Thursday
1066    2500.0 2023-11-03      Friday
1067   95800.0 2023-11-04    Saturday
1068  202000.0 2023-11-06      Monday
1069   27101.0 2023-11-07     Tuesday
1070   61750.0 2023-11-08   Wednesday
1071   32100.0 2023-11-09    Thursday

# Encoding

In [37]:
day_mapping = {
    'Monday': 1,
    'Tuesday': 2,
    'Wednesday': 3,
    'Thursday': 4,
    'Friday': 5,
    'Saturday': 6
}

def onehot(df):
    df['date'] = pd.to_datetime(df['date'])
    df.set_index('date', inplace=True)
    df = pd.get_dummies(df, columns=['day_of_week'], prefix='day').dropna()
    return df

def ordinal(df):
    df['day_of_the_week_encoded'] = df['day_of_week'].map(day_mapping)
    selected_columns = ['Amount','day_of_the_week_encoded']
    df = df[selected_columns].dropna()
    return df

In [38]:
category = onehot(category)

C:\Users\Berlin\AppData\Local\Temp\ipykernel_5500\4153822253.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])

In [39]:
category

,Amount,day_Friday,day_Monday,day_Saturday,day_Thursday,day_Tuesday,day_Wednesday
date,,,,,,,
2023-09-30,46000.0,0,0,1,0,0,0
2023-10-02,59500.0,0,1,0,0,0,0
2023-10-03,32900.0,0,0,0,0,1,0
2023-10-04,81500.0,0,0,0,0,0,1
2023-10-05,91400.0,0,0,0,1,0,0
2023-10-06,18000.0,1,0,0,0,0,0
2023-10-07,25900.0,0,0,1,0,0,0
2023-10-09,50800.0,0,1,0,0,0,0
2023-10-10,22500.0,0,0,0,0,1,0
2023-10-11,182150.0,0,0,0,0,0,1
2023-10-12,59100.0,0,0,0,1,0,0
2023-10-13,108100.0,1,0,0,0,0,0
2023-10-14,88900.0,0,0,1,0,0,0
2023-10-16,115500.0,0,1,0,0,0,0
2023-10-17,90500.0,0,0,0,0,1,0
2023-10-19,237900.0,0,0,0,1,0,0
2023-10-20,63250.0,1,0,0,0,0,0
2023-10-21,37000.0,0,0,1,0,0,0
2023-10-23,144700.0,0,1,0,0,0,0
2023-10-24,51000.0,0,0,0,0,1,0
2023-10-25,5000.0,0,0,0,0,0,1
2023-10-26,237950.0,0,0,0,1,0,0
2023-10-27,108500.0,1,0,0,0,0,0
2023-10-28,13700.0,0,0,1,0,0,0
2023-10-30,191700.0,0,1,0,0,0,0
2023-10-31,84800.0,0,0,0,0,1,0
2023-11-01,17000.0,0,0,0,0,0,1
2023-11-02,25800.0,0,0,0,1,0,0
2023-11-03,2500.0,1,0,0,0,0,0
2023-11-04,95800.0,0,0,1,0,0,0
2023-11-06,202000.0,0,1,0,0,0,0
2023-11-07,27101.0,0,0,0,0,1,0
2023-11-08,61750.0,0,0,0,0,0,1
2023-11-09,32100.0,0,0,0,1,0,0

# Adding Lagged Variables

In [40]:
lags = [1,2,3,4]
for lag in lags:
    category[f'lag{lag}'] = category['Amount'].shift(lag)
category.dropna(inplace=True)
selected_columns = ['Amount', 'lag1', 'lag2', 'lag3','lag4','day_Friday','day_Monday','day_Saturday','day_Thursday','day_Tuesday','day_Wednesday']
# selected_columns = ['Amount', 'lag1', 'lag2', 'lag3','day_of_the_week_encoded']
category = category[selected_columns]

In [41]:
category

,Amount,lag1,lag2,lag3,lag4,day_Friday,day_Monday,day_Saturday,day_Thursday,day_Tuesday,day_Wednesday
date,,,,,,,,,,,
2023-10-05,91400.0,81500.0,32900.0,59500.0,46000.0,0,0,0,1,0,0
2023-10-06,18000.0,91400.0,81500.0,32900.0,59500.0,1,0,0,0,0,0
2023-10-07,25900.0,18000.0,91400.0,81500.0,32900.0,0,0,1,0,0,0
2023-10-09,50800.0,25900.0,18000.0,91400.0,81500.0,0,1,0,0,0,0
2023-10-10,22500.0,50800.0,25900.0,18000.0,91400.0,0,0,0,0,1,0
2023-10-11,182150.0,22500.0,50800.0,25900.0,18000.0,0,0,0,0,0,1
2023-10-12,59100.0,182150.0,22500.0,50800.0,25900.0,0,0,0,1,0,0
2023-10-13,108100.0,59100.0,182150.0,22500.0,50800.0,1,0,0,0,0,0
2023-10-14,88900.0,108100.0,59100.0,182150.0,22500.0,0,0,1,0,0,0
2023-10-16,115500.0,88900.0,108100.0,59100.0,182150.0,0,1,0,0,0,0
2023-10-17,90500.0,115500.0,88900.0,108100.0,59100.0,0,0,0,0,1,0
2023-10-19,237900.0,90500.0,115500.0,88900.0,108100.0,0,0,0,1,0,0
2023-10-20,63250.0,237900.0,90500.0,115500.0,88900.0,1,0,0,0,0,0
2023-10-21,37000.0,63250.0,237900.0,90500.0,115500.0,0,0,1,0,0,0
2023-10-23,144700.0,37000.0,63250.0,237900.0,90500.0,0,1,0,0,0,0
2023-10-24,51000.0,144700.0,37000.0,63250.0,237900.0,0,0,0,0,1,0
2023-10-25,5000.0,51000.0,144700.0,37000.0,63250.0,0,0,0,0,0,1
2023-10-26,237950.0,5000.0,51000.0,144700.0,37000.0,0,0,0,1,0,0
2023-10-27,108500.0,237950.0,5000.0,51000.0,144700.0,1,0,0,0,0,0
2023-10-28,13700.0,108500.0,237950.0,5000.0,51000.0,0,0,1,0,0,0
2023-10-30,191700.0,13700.0,108500.0,237950.0,5000.0,0,1,0,0,0,0
2023-10-31,84800.0,191700.0,13700.0,108500.0,237950.0,0,0,0,0,1,0
2023-11-01,17000.0,84800.0,191700.0,13700.0,108500.0,0,0,0,0,0,1
2023-11-02,25800.0,17000.0,84800.0,191700.0,13700.0,0,0,0,1,0,0
2023-11-03,2500.0,25800.0,17000.0,84800.0,191700.0,1,0,0,0,0,0
2023-11-04,95800.0,2500.0,25800.0,17000.0,84800.0,0,0,1,0,0,0
2023-11-06,202000.0,95800.0,2500.0,25800.0,17000.0,0,1,0,0,0,0
2023-11-07,27101.0,202000.0,95800.0,2500.0,25800.0,0,0,0,0,1,0
2023-11-08,61750.0,27101.0,202000.0,95800.0,2500.0,0,0,0,0,0,1
2023-11-09,32100.0,61750.0,27101.0,202000.0,95800.0,0,0,0,1,0,0

In [42]:
scaler = StandardScaler()
X = scaler.fit_transform(category.drop(category.columns[0], axis=1))
y = scaler.fit_transform(np.array(category.iloc[:,0]).reshape(-1, 1))

# PCA

In [43]:
# n_components = 10
# pca = PCA(n_components=n_components)
# X = pca.fit_transform(X)

# Train, Test, Split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

# Fit the model

In [45]:
from sklearn.ensemble import RandomForestRegressor

rf_regressor = RandomForestRegressor(n_estimators=250, random_state=42)
rf_regressor.fit(X_train, y_train)

C:\Users\Berlin\AppData\Local\Temp\ipykernel_5500\457814034.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=250, random_state=42)

In [46]:
X_test

array([[-8.78263311e-01, -9.87331670e-01, -6.72006744e-04,
         1.76080194e+00,  2.23606798e+00, -4.47213595e-01,
        -4.47213595e-01, -5.00000000e-01, -4.47213595e-01,
        -3.92232270e-01],
       [-1.22553433e+00, -8.57195905e-01, -1.01316217e+00,
         8.10042746e-02, -4.47213595e-01, -4.47213595e-01,
         2.23606798e+00, -5.00000000e-01, -4.47213595e-01,
        -3.92232270e-01],
       [ 1.65040179e-01, -1.20175992e+00, -8.81747516e-01,
        -9.84386573e-01, -4.47213595e-01,  2.23606798e+00,
        -4.47213595e-01, -5.00000000e-01, -4.47213595e-01,
        -3.92232270e-01],
       [ 1.74788062e+00,  1.77974954e-01, -1.22969767e+00,
        -8.46105755e-01, -4.47213595e-01, -4.47213595e-01,
        -4.47213595e-01, -5.00000000e-01,  2.23606798e+00,
        -3.92232270e-01],
       [-8.58872770e-01,  1.74847703e+00,  1.63596308e-01,
        -1.21223565e+00, -4.47213595e-01, -4.47213595e-01,
        -4.47213595e-01, -5.00000000e-01, -4.47213595e-01,
         2.54950976e+00],
       [-3.42452447e-01, -8.37956515e-01,  1.74953222e+00,
         2.53855297e-01, -4.47213595e-01, -4.47213595e-01,
        -4.47213595e-01,  2.00000000e+00, -4.47213595e-01,
        -3.92232270e-01]])

In [47]:
x_pred = rf_regressor.predict(X_train)
y_pred = rf_regressor.predict(X_test)

In [48]:
y_pred

array([-0.1461887 ,  0.81027171,  0.381377  , -0.35323898,  0.26189029,
        0.33655472])

# Evaluate Model

In [49]:
mse = mean_squared_error(y_test, y_pred)
rmse =  np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)

print(f'Mean Squared Error : {mse}')
print(f'Mean Absolute Error : {mae}')

Mean Squared Error : 0.8507940737545221
Mean Absolute Error : 0.8629889246029884

# Cross Validation

In [50]:
from sklearn.model_selection import cross_val_score

rf_regressor = RandomForestRegressor(n_estimators=250, random_state=42)
scores = cross_val_score(rf_regressor, X_train, y_train, cv=3, scoring='neg_mean_squared_error')

C:\Users\Berlin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Berlin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Berlin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:686: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

In [51]:
print("Mean squared error:", -scores.mean())

Mean squared error: 1.380592070038204

In [845]:
# data = {
#     'lag1': [1120984.0],
#     'lag2': [1802021.0],
#     'lag3': [1168275.0],
#     'lag4': [1158278.0],
#     'day_Friday': [0],
#     'day_Monday': [0],
#     'day_Saturday': [1],
#     'day_Thursday': [0],
#     'day_Tuesday': [0],
#     'day_Wednesday': [0]
# }

data = {[1120984.0] ,[1802021.0] ,[1168275.0] ,[1158278.0] ,[0], [1], [0], [0], [0]}

df = pd.DataFrame(data)
predict = rf_regressor.predict(df)
predict = predict.reshape(-1, 1)
predict = scaler.inverse_transform(predict)
predict

TypeError: unhashable type: 'list'