In [35]:
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

# Data Processing

In [36]:
sales_data = pd.read_csv('Data/sales dataset.csv')
sales_data['salesDate'] = pd.to_datetime(sales_data['salesDate'], infer_datetime_format=True)
selected_columns1 =['salesAmount', 'salesDate']
sales_data = sales_data[selected_columns1]
##########################################################################
expenses_data = pd.read_csv('Data/expenses dataset.csv')
expenses_data['expenseDate'] = pd.to_datetime(expenses_data['expenseDate'], infer_datetime_format=True)
selected_columns =['expenseAmount', 'expenseDate']
expenses_data = expenses_data[selected_columns]
##########################################################################
# print('Shape of expenses data', expenses_data.shape)
# print('Shape of sales data', sales_data.shape)

In [37]:
# The function groups either the expense or sales data into the monthly series
# But the first column must be the amount and the second column must be the dates in datetime format
def groupMonth(df):
    df['Year'] = df.iloc[:,1].dt.year
    df['Month'] = df.iloc[:,1].dt.month
    df['Amount'] = df.iloc[:,0]
    monthly = df.groupby(['Year','Month'])['Amount'].sum().reset_index()
    return monthly

# The function groups either the expense or sales data into the daily series
# But the first column must be the amount and the second column must be the dates in datetime format
def groupDay(df):
    df['Year'] = df.iloc[:,1].dt.year
    df['Month'] = df.iloc[:,1].dt.month
    df['Day'] = df.iloc[:,1].dt.day
    df['Amount'] = df.iloc[:,0]
    daily = df.groupby(['Year','Month','Day'])['Amount'].sum().reset_index()
    return daily

def monthlyToSingleDate(df, Year, Month):
    df['date'] = pd.to_datetime(df['Year'].astype(str) + '-' + df['Month'].astype(str))
    df = df.drop(['Year','Month',], axis=1)
    df = df.set_index('date')
    return df

def dailyToSingleDate(df,Year, Month, Day):
        df['date'] = pd.to_datetime(df[['Year','Month','Day']])
        df = df.drop(['Year','Month','Day'], axis=1)
        df = df.set_index('date')
        return df

In [38]:
sd = groupDay(sales_data)
ed = groupDay(expenses_data)
em = groupMonth(expenses_data)
sm = groupMonth(sales_data)

daily_sales = dailyToSingleDate(sd, sd['Year'], sd['Month'], sd['Day'])
daily_expenses = dailyToSingleDate(ed, ed['Year'], ed['Month'], ed['Day'])
monthly_expenses = monthlyToSingleDate(em, em['Year'], em['Month'])
monthly_sales = monthlyToSingleDate(sm, sm['Year'], sm['Month'])

In [39]:
dailySales = daily_sales[705:]    #705 for the removal of irrelevant data points
dailyExpenses = daily_expenses[890:]  #890 for the removal of irrelevant data points
monthlySales = monthly_sales
monthlyExpenses = monthly_expenses

In [40]:
print(len(monthlyExpenses), len(monthlySales))
print(len(dailyExpenses), len(dailySales))

43 38
182 236

In [41]:
category1 = dailySales
category2 = dailyExpenses
category3 = monthlySales
category4 = monthlyExpenses
category = category4

               Amount
date
2020-05-01   462850.0
2020-06-01   958734.0
2020-07-01   767630.0
2020-08-01  1233400.0
2020-09-01  2379730.0
2020-10-01  2018480.0
2020-11-01  2115684.0
2020-12-01  1776590.0
2021-01-01  2402525.0
2021-02-01  2576390.0
2021-03-01  2953250.0
2021-04-01  2788040.0
2021-05-01  2288517.0
2021-06-01  3403150.0
2021-07-01  2413250.0
2021-08-01  2590300.0
2021-09-01  2907560.0
2021-10-01  4512300.0
2021-11-01  9266557.0
2021-12-01  2862578.0
2022-01-01  4357935.0
2022-02-01  4138127.0
2022-03-01  4763205.0
2022-04-01  2448500.0
2022-05-01  4532500.0
2022-06-01  5117140.0
2022-07-01  4269108.0
2022-08-01  2951285.0
2022-09-01  3023914.0
2022-10-01  3484350.0
2022-11-01  2935800.0
2022-12-01  2462150.0
2023-01-01  4652250.0
2023-02-01  1050750.0
2023-03-01   546350.0
2023-04-01  1654105.0
2023-05-01  2195350.0
2023-06-01  1529350.0
2023-07-01  1549450.0
2023-08-01  2304875.0
2023-09-01  3404500.0
2023-10-01  2553430.0
2023-11-01   464051.0

# Remove Outliers

In [42]:
def remove_outliers_zscore(data, threshold=4):
    z_scores = np.abs((data - np.mean(data)) / np.std(data))
    filtered_data = data[(z_scores < threshold)]
    return filtered_data

filteredCategory = remove_outliers_zscore(category)
category = filteredCategory
category = category.tail(20)

C:\Users\Berlin\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [43]:
# Removes the date column from index, and makes the index start from 0 for the first observation
category.reset_index(inplace=True)
category = pd.DataFrame(category['Amount'])

# Adding Lagged Variables

In [44]:
lags = [1,2,3,4]
for lag in lags:
    category[f'lag{lag}'] = category['Amount'].shift(lag)
category.dropna(inplace=True)
selected_columns = ['Amount', 'lag1', 'lag2', 'lag3','lag4']
category = category[selected_columns]
category

       Amount       lag1       lag2       lag3       lag4
4   2951285.0  4269108.0  5117140.0  4532500.0  2448500.0
5   3023914.0  2951285.0  4269108.0  5117140.0  4532500.0
6   3484350.0  3023914.0  2951285.0  4269108.0  5117140.0
7   2935800.0  3484350.0  3023914.0  2951285.0  4269108.0
8   2462150.0  2935800.0  3484350.0  3023914.0  2951285.0
9   4652250.0  2462150.0  2935800.0  3484350.0  3023914.0
10  1050750.0  4652250.0  2462150.0  2935800.0  3484350.0
11   546350.0  1050750.0  4652250.0  2462150.0  2935800.0
12  1654105.0   546350.0  1050750.0  4652250.0  2462150.0
13  2195350.0  1654105.0   546350.0  1050750.0  4652250.0
14  1529350.0  2195350.0  1654105.0   546350.0  1050750.0
15  1549450.0  1529350.0  2195350.0  1654105.0   546350.0
16  2304875.0  1549450.0  1529350.0  2195350.0  1654105.0
17  3404500.0  2304875.0  1549450.0  1529350.0  2195350.0
18  2553430.0  3404500.0  2304875.0  1549450.0  1529350.0
19   464051.0  2553430.0  3404500.0  2304875.0  1549450.0

# Adding Moving Average

In [45]:
# category['moving_avg'] = category[['lag1', 'lag2', 'lag3', 'lag4']].mean(axis=1).rolling(window=window_size).mean()
# category.dropna(inplace=True)
# category

# Train - Test Split

In [56]:
X = category.drop(category.columns[0], axis=1)
y = category['Amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Selection

In [57]:
degree = 2
poly_features = PolynomialFeatures(degree=degree)
X_train_poly = poly_features.fit_transform(X_train)
X_test_poly = poly_features.fit_transform(X_test)

# PCA

In [58]:
n_components = len(lags)
pca = PCA(n_components=n_components)
X_train_pca = pca.fit_transform(X_train_poly)
X_test_pca = pca.fit_transform(X_test_poly)

In [59]:
model = LinearRegression()
model.fit(X_train_pca, y_train)

LinearRegression()

In [60]:
# with open('dailySales.pk1', 'wb') as f:
#     pickle.dump(rf_regressor, f)

In [61]:
# with open('dailyExpenses.pk1', 'wb') as f:
#     pickle.dump(model2, f)
# result = model2.fit()
# print(result.summary())

In [62]:
# with open('monthlyExpenses.pk1', 'wb') as f:
#     pickle.dump(rf_regressor, f)
# Takes 3 target lags

# Evaluate Model

In [63]:
y_pred = model.predict(X_train_pca)

In [64]:
mse = mean_squared_error(y_train, y_pred)
rmse =  np.sqrt(mean_squared_error(y_train, y_pred))

print(f'Mean Squared Error : {mse}')
print(f'Root Mean Squared Error : {rmse}')

Mean Squared Error : 589572737658.205
Root Mean Squared Error : 767836.4003211914

# Make Time Series Predictions

In [65]:
X_test

         lag1       lag2       lag3       lag4
4   4269108.0  5117140.0  4532500.0  2448500.0
5   2951285.0  4269108.0  5117140.0  4532500.0
9   2462150.0  2935800.0  3484350.0  3023914.0
18  3404500.0  2304875.0  1549450.0  1529350.0

In [59]:
data = {
    'lag1': [546350.0],
    'lag2': [752250.0],
    'lag3': [1050750.0],
#     'lag4': [1148263.0],
#     'target_lag_5': [1327412.0]
}

df = pd.DataFrame(data)
future_data_poly = poly_features.transform([[df]])
future_data_pca = pca.transform(future_data_poly)
predict = model.predict(future_data_pca)
predict

C:\Users\Berlin\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but PolynomialFeatures was fitted with feature names
  warnings.warn(

ValueError: Found array with dim 4. PolynomialFeatures expected <= 2.

In [ ]:
y_pred

In [ ]:
category = pd.DataFrame(category4)
category.reset_index(inplace=True)
category =category['Amount']

index_start = 35
index = range(index_start, index_start + len(y_pred))
df = pd.DataFrame(y_pred, index=index, columns=['Values'])

In [ ]:
plt.plot(category, label='Original Data')
plt.plot(df)
plt.xlabel