In [1]:
import datetime
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('expenses.csv')
df

,expensesId,expenses_fk_categoryId,expenseReason,expenseAmount,expenseDate,createdBy_fk_userId,approvedBy_fk_userId,softDelete
0,1,13,AR 236AT Solomon,15000.0,2020-05-12,1017,0,0
1,2,11,fuel,5500.0,2020-05-12,1017,0,0
2,3,12,fuel for generator,10000.0,2020-05-12,1017,0,0
3,4,2,Refund of thermal printer,12000.0,2020-05-12,1017,0,0
4,5,14,Bag for shop,1400.0,2020-05-12,1017,0,0
...,...,...,...,...,...,...,...,...
6617,6646,5,dog food,200.0,2023-11-09,1025,0,0
6618,6647,5,shop airtime,500.0,2023-11-09,1025,0,0
6619,6648,5,dry cleaning,6000.0,2023-11-09,1025,0,0
6620,6649,5,fabalon,11500.0,2023-11-09,1025,0,0
6621,6650,5,camerasubscription,1000.0,2023-11-09,1025,0,0

In [3]:
selected_columns =['expenseAmount', 'expenseDate']
df = df[selected_columns]
df.copy()
df

      expenseAmount expenseDate
0           15000.0  2020-05-12
1            5500.0  2020-05-12
2           10000.0  2020-05-12
3           12000.0  2020-05-12
4            1400.0  2020-05-12
...             ...         ...
6617          200.0  2023-11-09
6618          500.0  2023-11-09
6619         6000.0  2023-11-09
6620        11500.0  2023-11-09
6621         1000.0  2023-11-09

[6622 rows x 2 columns]

In [4]:
df['expenseDate'] = pd.to_datetime(df['expenseDate'], dayfirst=True)
df.index = df['expenseDate']
df

C:\Users\Berlin\AppData\Local\Temp\ipykernel_8340\1523643852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['expenseDate'] = pd.to_datetime(df['expenseDate'], dayfirst=True)

             expenseAmount expenseDate
expenseDate
2020-05-12         15000.0  2020-05-12
2020-05-12          5500.0  2020-05-12
2020-05-12         10000.0  2020-05-12
2020-05-12         12000.0  2020-05-12
2020-05-12          1400.0  2020-05-12
...                    ...         ...
2023-11-09           200.0  2023-11-09
2023-11-09           500.0  2023-11-09
2023-11-09          6000.0  2023-11-09
2023-11-09         11500.0  2023-11-09
2023-11-09          1000.0  2023-11-09

[6622 rows x 2 columns]

In [8]:
df['Year'] = df['expenseDate'].dt.year
df['Month'] = df['expenseDate'].dt.month
df_monthly = df.groupby(['Year', 'Month'])['expenseAmount'].sum().reset_index()
# df_monthly = df_monthly.set_index('Month')
df_monthly

C:\Users\Berlin\AppData\Local\Temp\ipykernel_8340\1832638283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['expenseDate'].dt.year
C:\Users\Berlin\AppData\Local\Temp\ipykernel_8340\1832638283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['expenseDate'].dt.month

       Year  expenseAmount
Month
5      2020       462850.0
6      2020       958734.0
7      2020       767630.0
8      2020      1233400.0
9      2020      2379730.0
10     2020      2018480.0
11     2020      2115684.0
12     2020      1776590.0
1      2021      2402525.0
2      2021      2576390.0
3      2021      2953250.0
4      2021      2788040.0
5      2021      2288517.0
6      2021      3403150.0
7      2021      2413250.0
8      2021      2590300.0
9      2021      2907560.0
10     2021      4512300.0
11     2021      9266557.0
12     2021      2862578.0
1      2022      4357935.0
2      2022      4138127.0
3      2022      4763205.0
4      2022      2448500.0
5      2022      4532500.0
6      2022      5117140.0
7      2022      4269108.0
8      2022      2951285.0
9      2022      3023914.0
10     2022      3484350.0
11     2022      2935800.0
12     2022      2462150.0
1      2023      4652250.0
2      2023      1050750.0
3      2023       546350.0
4      2023      1654105.0
5      2023      2195350.0
6      2023      1529350.0
7      2023      1549450.0
8      2023      2304875.0
9      2023      3404500.0
10     2023      2553430.0
11     2023       464051.0

In [ ]:
expenses = df_monthly['expenseAmount']
expenses.plot()

In [ ]:
def df_to_X_y(df, window_size=5):
    df_as_np = df.to_numpy()
    X = []
    y = []
    for i in range(len(df_as_np) - window_size):
        row = [[a] for a in df_as_np[i:i+5]]
        X.append(row)
        label = df_as_np[i+5]
        y.append(label)
    return np.array(X), np.array(y)

In [ ]:
WINDOW_SIZE = 5
X, y = df_to_X_y(expenses, WINDOW_SIZE)
X.shape, y.shape

In [ ]:
X

In [ ]:
y

In [ ]:
X_train, y_train = X[:30], y[:30]
X_val, y_val = X[30:34], y[30:34]
X_test, y_test = X[34:], y[34:]
X_train.shape, y_train.shape, X_val.shape, y_val.shape, X_test.shape, y_test.shape

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.optimizers import Adam

model = Sequential()
model.add(InputLayer((5,1)))
model.add(LSTM(64))
model.add(Dense(8, 'relu'))
model.add(Dense(1, 'linear'))

model.summary()

In [ ]:
cp = ModelCheckpoint('model1/', save_best_only=True)
model.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=1.0), metrics = [RootMeanSquaredError()])

In [ ]:
model.fit(X_train, y_train, validation_data=(X_val, y_val), epochs=1000, callbacks=[cp])

In [ ]:
from tensorflow.keras.models import load_model
model = load_model('model1/')

In [ ]:
train_predictions = model.predict(X_train).flatten()
train_results = pd.DataFrame(data={'Train Predictions': train_predictions, 'Actuals':y_train})
train_results

In [ ]:
val_predictions = model.predict(X_val).flatten()
val_results = pd.DataFrame(data={'Val Predictions': val_predictions, 'Actuals':y_val})
val_results

In [ ]:
test_predictions = model.predict(X_test).flatten()
test_results = pd.DataFrame(data={'Train Predictions': test_predictions, 'Actuals':y_test})
test_results