In [145]:
import datetime
import pickle
import joblib
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [146]:
sales_data = pd.read_csv('Data/sales dataset.csv')
sales_data['salesDate'] = pd.to_datetime(sales_data['salesDate'], infer_datetime_format=True)
selected_columns1 =['salesAmount', 'salesDate']
sales_data = sales_data[selected_columns1]
##########################################################################
expenses_data = pd.read_csv('Data/expenses dataset.csv')
expenses_data['expenseDate'] = pd.to_datetime(expenses_data['expenseDate'], infer_datetime_format=True)
selected_columns =['expenseAmount', 'expenseDate']
expenses_data = expenses_data[selected_columns]
##########################################################################
# print('Shape of expenses data', expenses_data.shape)
# print('Shape of sales data', sales_data.shape)

In [147]:
# The function groups either the expense or sales data into the monthly series
# But the first column must be the amount and the second column must be the dates in datetime format
def groupMonth(df):
    df['Year'] = df.iloc[:,1].dt.year
    df['Month'] = df.iloc[:,1].dt.month
    df['Amount'] = df.iloc[:,0]
    monthly = df.groupby(['Year','Month'])['Amount'].sum().reset_index()
    return monthly

# The function groups either the expense or sales data into the daily series
# But the first column must be the amount and the second column must be the dates in datetime format
def groupDay(df):
    df['Year'] = df.iloc[:,1].dt.year
    df['Month'] = df.iloc[:,1].dt.month
    df['Day'] = df.iloc[:,1].dt.day
    df['Amount'] = df.iloc[:,0]
    daily = df.groupby(['Year','Month','Day'])['Amount'].sum().reset_index()
    return daily

def monthlyToSingleDate(df, Year, Month):
    df['date'] = pd.to_datetime(df['Year'].astype(str) + '-' + df['Month'].astype(str))
    df = df.drop(['Year','Month',], axis=1)
    df = df.set_index('date')
    return df

def dailyToSingleDate(df,Year, Month, Day):
        df['date'] = pd.to_datetime(df[['Year','Month','Day']])
        df = df.drop(['Year','Month','Day'], axis=1)
        df = df.set_index('date')
        return df

In [148]:
sd = groupDay(sales_data)
ed = groupDay(expenses_data)
em = groupMonth(expenses_data)
sm = groupMonth(sales_data)

daily_sales = dailyToSingleDate(sd, sd['Year'], sd['Month'], sd['Day'])
daily_expenses = dailyToSingleDate(ed, ed['Year'], ed['Month'], ed['Day'])
monthly_expenses = monthlyToSingleDate(em, em['Year'], em['Month'])
monthly_sales = monthlyToSingleDate(sm, sm['Year'], sm['Month'])

In [149]:
dailySales = daily_sales[705:]    #705 for the removal of irrelevant data points
dailyExpenses = daily_expenses[890:]  #890 for the removal of irrelevant data points
monthlySales = monthly_sales
monthlyExpenses = monthly_expenses

In [150]:
print(len(monthlyExpenses), len(monthlySales))
print(len(dailyExpenses), len(dailySales))

43 38
182 236

In [151]:
category1 = dailySales
category2 = dailyExpenses
category3 = monthlySales
category4 = monthlyExpenses
category = category4
# category

# Remove Outliers

In [152]:
def remove_outliers_zscore(data, threshold=4):
    z_scores = np.abs((data - np.mean(data)) / np.std(data))
    filtered_data = data[(z_scores < threshold)]
    return filtered_data

filteredCategory = remove_outliers_zscore(category)
category = filteredCategory
category = category.tail(20)

C:\Users\Berlin\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [153]:
category.reset_index(inplace=True)
category = pd.DataFrame(category['Amount'])
Category = category

In [154]:
lags = [1,2,3,4]
for lag in lags:
    category[f'lag{lag}'] = category['Amount'].shift(lag)
category.dropna(inplace=True)
selected_columns = ['Amount', 'lag1', 'lag2', 'lag3','lag4']
category = category[selected_columns]
category

       Amount       lag1       lag2       lag3       lag4
4   2951285.0  4269108.0  5117140.0  4532500.0  2448500.0
5   3023914.0  2951285.0  4269108.0  5117140.0  4532500.0
6   3484350.0  3023914.0  2951285.0  4269108.0  5117140.0
7   2935800.0  3484350.0  3023914.0  2951285.0  4269108.0
8   2462150.0  2935800.0  3484350.0  3023914.0  2951285.0
9   4652250.0  2462150.0  2935800.0  3484350.0  3023914.0
10  1050750.0  4652250.0  2462150.0  2935800.0  3484350.0
11   546350.0  1050750.0  4652250.0  2462150.0  2935800.0
12  1654105.0   546350.0  1050750.0  4652250.0  2462150.0
13  2195350.0  1654105.0   546350.0  1050750.0  4652250.0
14  1529350.0  2195350.0  1654105.0   546350.0  1050750.0
15  1549450.0  1529350.0  2195350.0  1654105.0   546350.0
16  2304875.0  1549450.0  1529350.0  2195350.0  1654105.0
17  3404500.0  2304875.0  1549450.0  1529350.0  2195350.0
18  2553430.0  3404500.0  2304875.0  1549450.0  1529350.0
19   464051.0  2553430.0  3404500.0  2304875.0  1549450.0

In [155]:
# WINDOW_SIZE = 4
# X, y = df_to_X_y(category, WINDOW_SIZE)
# X.shape, y.shape

In [156]:
X = category.drop(category.columns[0], axis=1)
y = category.iloc[:,0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)
# X_test, X_val, y_test, y_val = train_test_split(X_temp, y_temp, test_size=0.2, shuffle=True)

In [157]:
# X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, shuffle=True)

In [158]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [159]:
n_components = 4
pca = PCA(n_components=n_components)
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.fit_transform(X_test_scaled)

In [160]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.optimizers import Adam

In [161]:
model = Sequential([
    LSTM(550, return_sequences=True, activation='tanh'),
    Dropout(0.2),
    LSTM(128, activation='tanh'),
    Dropout(0.2),
    Dense(64, activation = 'relu'),
    Dense(32, activation = 'relu'),
    Dense(2)
])

In [162]:
cp = ModelCheckpoint('Models/Expenses Day Prediction Model/', save_best_only=True)
model.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=0.00001), metrics = [RootMeanSquaredError()])

In [163]:
model.fit(X_train_pca, y_train, epochs=200, callbacks=[cp])

Epoch 1/200

ValueError: in user code:

    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1377, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1360, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1349, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1126, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\utils\traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\engine\input_spec.py", line 235, in assert_input_compatibility
        raise ValueError(

    ValueError: Exception encountered when calling layer 'sequential_3' (type Sequential).

    Input 0 of layer "lstm_4" is incompatible with the layer: expected ndim=3, found ndim=2. Full shape received: (None, 4)

    Call arguments received by layer 'sequential_3' (type Sequential):
      • inputs=tf.Tensor(shape=(None, 4), dtype=float32)
      • training=True
      • mask=None

In [37]:
from tensorflow.keras.models import load_model
model = load_model('Models/Expenses Day Prediction Model/')

In [38]:
train_predictions = model.predict(X_train)
predictions = scaler.inverse_transform(train_predictions).flatten()
train_target = scaler.inverse_transform(y_train).flatten()
train_results = pd.DataFrame(data={'Train Predictions': predictions, 'Actuals':train_target})
train_results

1/1 [==============================] - 2s 2s/step

    Train Predictions    Actuals
0         4421412.500  4357935.0
1         2967364.500  2907560.0
2         3799800.750  2448500.0
3         2960287.500  3403150.0
4         2568648.750  2195350.0
5         1826299.125  2379730.0
6         3765603.750  3484350.0
7         2579648.750  2576390.0
8         2997393.500  2590300.0
9         2092857.625  2018480.0
10        2613587.500  2553430.0
11        3796379.000  5117140.0
12        2264546.000  2115684.0
13        3378363.000  1050750.0
14        2382411.250  2304875.0
15        2489754.000  1776590.0
16        2205541.500  1549450.0
17        3848675.500  2951285.0
18        2729854.000  1654105.0
19        3066123.250  2413250.0
20        3919120.000  4269108.0
21        4665238.000  4763205.0
22        3821645.000  4532500.0
23        2782160.750  2788040.0
24        3182244.500  9266557.0
25        3176077.500  4652250.0
26        2803647.250   464051.0

In [39]:
val_predictions = model.predict(X_val)
val_results = scaler.inverse_transform(val_predictions).flatten()
val_target = scaler.inverse_transform(y_val).flatten()
validation_results = pd.DataFrame(data={'Validation Predictions': val_results, 'Actuals':val_target})
validation_results

1/1 [==============================] - 0s 47ms/step

   Validation Predictions    Actuals
0              4719419.50  4138127.0
1              4164275.00  2862578.0
2              2112222.25  1529350.0

In [22]:
test_predictions = model.predict([[[0.        ]],

        [[0.05632673]],

        [[0.03461951]],

        [[0.08752563]]])

TypeError: in user code:

    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\engine\training.py", line 2416, in predict_function  *
        return step_function(self, iterator)
    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\engine\training.py", line 2401, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\engine\training.py", line 2389, in run_step  **
        outputs = model.predict_step(data)
    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\engine\training.py", line 2357, in predict_step
        return self(x, training=False)
    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\utils\traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\Berlin\anaconda3\lib\site-packages\keras\src\layers\rnn\lstm.py", line 616, in call
        timesteps = input_shape[0] if self.time_major else input_shape[1]

    TypeError: Exception encountered when calling layer 'lstm' (type LSTM).

    'NoneType' object is not subscriptable

    Call arguments received by layer 'lstm' (type LSTM):
      • inputs=tf.Tensor(shape=<unknown>, dtype=float32)
      • mask=None
      • training=False
      • initial_state=None